* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

html,
body {
    overflow-x: hidden;
}


/* change */

.logo {
    height: 160px;
    width: 180px;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 0 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover {
    color: #FD004D;
}

.detel {
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span {
    color: #FD004D;
}

.detel p {
    color: #555;
    line-height: 20px;
}

.detel button {
    background-color: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 50px;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 130px;
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape {
    bottom: 60px;
}

.images:hover .profile {
    left: 60%;
}

.Portfolio {
    height: 450px;
    width: 100%;
    position: relative;
    top: 22%;
    background-color: #FD004D;
}

.Portfolio h1 {
    text-align: center;
    color: #eff4fd;
    padding-top: 1%;
    font-size: 48px;
    text-decoration: underline;
}

.Portfolio a {
    color: #212121;
    font-weight: bold;
}

.Portfolio h2 {
    /* text-align: center; */
    color: #eff4fd;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.CONTACT {
    height: 850px;
    width: 100%;
    background-color: #eff4fd;
}

.CONTACT h1 {
    text-align: center;
    color: #FD004D;
    text-decoration: underline;
    font-size: 48px;
    padding-top: 3.5%;
}

.info {
    height: 550px;
    width: 500px;
    border: 2px solid black;
    position: relative;
    left: 600px;
    top: 100px;
    /* align-items: center; */
    text-align: center;
    font-weight: bold;
    /* font-size: 25px; */
    box-shadow: 1px 2px 10px 3px black;
}

form {
    margin-top: 40px;
}

.common {
    margin: 15px;
    width: 360px;
    height: 30px;
    /* text-align: center; */
    border-radius: 8px;
}

.EMAIL {
    text-align: center;
}

.MOBILE {
    text-align: center;
}

.MESSAGE {
    height: 100px;
    width: 360px;
}

.MESSAGE:placeholder-shown {
    text-align: center;
    padding-top: 35px;
}

.btn {
    padding: 12px 40px;
    border: 3px solid white;
    background-color: #212121;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
    font-size: 14px;
    position: relative;
    top: 62px;
}

.info label {
    color: #FD004D;
    font-size: 20px;
}

.common .MESSAGE {
    padding-top: 0px;
    padding-left: 0px;
}

.isection {
    border-radius: 5px;
    height: 550px;
    width: 250px;
    position: relative;
    left: 1115px;
    bottom: 469px;
    background-color: #FD004D;
}

.insideicon {
    padding-top: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.isection p {
    font-weight: bold;
    font-size: 16px;
    color: #212121;
}

.icons {
    color: #212121;
}

 @media(max-width:1000px) {
                .hero {
                    width: 100%;
                }
                .logo {
                    height: 80px;
                    width: 100px;
                    position: relative;
                    right: 20px;
                }
                .list {
                    margin-top: 29px;
                    font-size: .75rem;
                }
                .list3 {
                    position: relative;
                    left: 170px;
                    bottom: 34px;
                }
                .list1 {
                    position: relative;
                    left: 20px;
                }
                .hero h1 {
                    font-size: 2rem;
                }
                .detel button {
                    background-color: #212121;
                    padding: 8px 15px;
                    text-decoration: none;
                    font-weight: bold;
                    color: #fff;
                    display: inline-block;
                    margin: 30px 0;
                    border-radius: 50px;
                }
                .images {
                    /* display: none; */
                    /* visibility: hidden; */
                    width: 25%;
                    height: 35%;
                    position: absolute;
                    top: 300px;
                }
                .Portfolio {
                    position: relative;
                    bottom: 290px;
                    height: 560px;
                    font-size: 13px;
                }
                .Portfolio .Pheading {
                    font-size: 30px;
                    padding-top: 30px;
                }
                .CONTACT {
                    position: relative;
                    bottom: 290px;
                    right: 10px;
                }
                .CONTACT h1 {
                    font-size: 30px;
                }
                .info {
                    position: relative;
                    left: 15%;
                    /* right: 1000px; */
                    height: 400px;
                    width: 300px;
                }
                .isection {
                    border-radius: 5px;
                    height: 150px;
                    width: 100%;
                    position: relative;
                    left: 0%;
                    /* left: 1115px; */
                    top: 200px;
                    bottom: 0px;
                    background-color: #FD004D;
                }
                .common {
                    margin: 15px;
                    width: 200px;
                    height: 20px;
                    /* text-align: center; */
                    border-radius: 8px;
                }
                .MESSAGE {
                    height: 30px;
                    width: 200px;
                }
                .btn {
                    position: relative;
                    top: 5px;
                }
                .CONTACT h1 {
                    padding-top: 7%;
                    font-size: 30px;
                }
                .insideicon {
                    padding-left: 15px;
                }
                .icons {
                    height: 30px;
                    width: 30px;
                }
                .mail {
                    position: relative;
                    left: 45px;
                }
                .phone {
                    position: relative;
                    left: 42%;
                    bottom: 65px;
                }
                .instagram {
                    position: relative;
                    left: 70%;
                    bottom: 127px;
                }
                .insideicon .para {
                    font-size: 10px;
                }
                .insideicon .para1 {
                    position: relative;
                    left: 35%;
                    bottom: 62px;
                    font-size: 10px;
                }
                .insideicon .para2 {
                    position: relative;
                    left: 65%;
                    bottom: 125px;
                    font-size: 10px;
                }
            }
